/* Sticky footer styles
-------------------------------------------------- */

/*Footer styles*/ 

$footer-height: 60px;
.footer {
  padding-top: 20px;
  height:$footer-height;
  color:white;
  background-color: rgba(36,32,33,0.9);
  font-family: "Helvetica Neue",Helvetica;
  margin-top:30px;

}

.footer a{
  color:white;
  font-weight: 100;
}