@import "bootstrap-sprockets";
@import "bootstrap"; 

.navbar-default .navbar-brand {
  color: #E3E85A;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

